@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese');

body {
  font-family: Source Code Pro, -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: rgba(0, 0, 0, 0.9);
  background-color: #fff;
}

.cover-container {
  max-width: 45rem;
}

.cover-container-landscape {
  max-width: 56rem;
}
